@font-face {
    font-family: 'Tangerine-Regular';
    src: url('Tangerine-Regular.eot');
    src: url('Tangerine-Regular.eot?#iefix') format('embedded-opentype'),
         url('Tangerine-Regular.svg#Tangerine-Regular') format('svg'),
         url('Tangerine-Regular.ttf') format('truetype'),
         url('Tangerine-Regular.woff') format('woff'),
         url('Tangerine-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }